<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recruit.mapper.FollowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.recruit.model.FollowDO">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_time" property="deleteTime" />
        <result column="user_id" property="userId" />
        <result column="company_id" property="companyId" />
    </resultMap>

    <select id="getByUserId" resultType="com.recruit.model.CompanyDO">
        SELECT c.id,c.name,c.foreign_name,c.city,c.mission
        FROM company c,follow f
        where f.company_id = c.id
        and f.user_id = #{userId}
        and f.delete_time IS NULL
    </select>

    <select id="getByUserIdAndCompanyId" resultMap="BaseResultMap">
        SELECT *
        FROM follow f
        where f.company_id = #{companyId}
        and f.user_id = #{userId}
        and f.delete_time IS NULL
    </select>

</mapper>
