<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recruit.mapper.ResumeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.recruit.model.ResumeDO">
        <id column="id" property="id" />
        <result column="ability" property="ability" />
        <result column="work_experience" property="workExperience" />
        <result column="project_experience" property="projectExperience" />
        <result column="education_experience" property="educationExperience" />
        <result column="personal_summary" property="personalSummary" />
        <result column="user_id" property="userId" />
        <result column="english" property="english" />
        <result column="job_intention" property="job_intention" />
    </resultMap>
</mapper>
